<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CiaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12106/CiaService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_CiaService" contract="CiaService.CiaService"
                name="BasicHttpBinding_CiaService" />
        </client>
    </system.serviceModel>
</configuration>